.iconfont{
    font-size: 20px;
}

.fastshoukuan{
    color: #ff8704;
}
.wodesk{
    color: #48ff03;
}
.jiaoyigz{
    color: #ff3a00;
}

.xsd{
    color: #d384ff;
}

.kuncuncx{
    color: #ffbf2e;
}
.kuncunfb{
    color: #20ffdd;
}
.wodesq{
    color: #15ff96;
}
.wodesp{
    color: #ff3f63;
}
.chaosonggw{
    color: #12d0ff;
}